<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myweb.www.repository.BoardDAO">

	<sql id="state">
		<choose>
			<when test="state != null">
					<if test="state == 'A'.toString()">
							and state = 'A'
					</if>
					<if test="state == 'B'.toString()">
							and state = 'B' 
					</if>
			</when>
		</choose>
	</sql>
	<sql id="countstate">
		<choose>
			<when test="state != null">
					<if test="state == 'A'.toString()">
							where state = 'A'
					</if>
					<if test="state == 'B'.toString()">
							where state = 'B' 
					</if>
			</when>
		</choose>
	</sql>
	<sql id="mainTopic">
		<choose>
			<when test="topic != null">
					<if test="topic == 'k'.toString()">
							and topic = 'kids'
					</if>
					<if test="topic == 'o'.toString()">
							and topic = 'olds' 
					</if>
					<if test="topic == 'a'.toString()">
							and topic = 'accessible' 
					</if>
					<if test="topic == 'e'.toString()">
							and topic = 'earth' 
					</if>
					<if test="topic == 'n'.toString()">
							and topic = 'neighborhood' 
					</if>
			</when>
		</choose>
	</sql>
	<sql id="countTopic">
		<choose>
			<when test="topic != null">
					<if test="topic == 'k'.toString()">
							where topic = 'kids'
					</if>
					<if test="topic == 'o'.toString()">
							where topic = 'olds' 
					</if>
					<if test="topic == 'a'.toString()">
							where topic = 'accessible' 
					</if>
					<if test="topic == 'e'.toString()">
							where topic = 'earth' 
					</if>
					<if test="topic == 'n'.toString()">
							where topic = 'neighborhood' 
					</if>
			</when>
		</choose>
	</sql>
	<sql id="sort">
		<choose>
			<when test="type != null">
					<if test="type == 'a'.toString()">
							order by reg_at desc
					</if>
					<if test="type == 'b'.toString()">
							order by end_date 
					</if>
			</when>
					<otherwise>
							order by reg_at desc
					</otherwise>
		</choose>
	</sql>
	<insert id="insert" parameterType="bvo">
		<![CDATA[insert into board
		(mno, title, sub_title, writer, topic, state, description, price, keyword1, keyword2, keyword3, end_date, board_img)
		values
		(#{mno}, #{title}, #{subTitle}, #{writer}, #{topic}, #{state}, #{description}, #{price}, #{keyword1}, #{keyword2}, #{keyword2}, #{endDate}, #{boardImg})
		]]>
	</insert>
	
	<select id="selectList" resultType="bvo" parameterType="pgvo">
	 select a.bno, b.mno, title, writer, price, final_price, board_img, m.user_name
	 from(
	 	select bno from board where bno > 0 
	 	
	 	<include refid="state" />
	 	<include refid="mainTopic" />
	 	<include refid="sort" />
	 	limit #{pageStart}, #{qty}
	 ) a left join board b
	 on a.bno = b.bno
	 left join member m
	 on b.mno = m.mno;
	</select>
	<select id="selectMyList" resultType="bvo" parameterType="pgvo">
	 select a.bno, b.mno, title, writer, price, final_price, board_img, m.user_name
	 from(
	 	select bno from board where bno > 0 
	 	<include refid="sort" />
	 	limit #{pageStart}, #{qty}
	 ) a left join board b
	 on a.bno = b.bno
	 left join member m
	 on b.mno = m.mno
	 where b.mno = #{mno}
	</select>
	
	<select id="selectOne" resultType="bvo">
			select a.bno, a.mno, a.title, a.sub_title, a.writer, topic, state, a.description, 
		price, keyword1, keyword2, keyword3, a.end_date, a.final_price, a.board_img, cheer, m.user_name
		from board a
		left join member m
		on a.mno = m.mno
		where bno = #{bno};
	</select>
	
	<select id="selectTotalCount" resultType="int" parameterType="pgvo">
		select count(bno) from board
		<include refid="countstate" />
		<include refid="mainTopic" />
	</select>
	
	<select id="selectMyTotalCount" resultType="int" parameterType="pgvo">
		select count(bno) from board where mno = #{mno}
	</select>
	
	<select id="selectLastBno" resultType="long">
		select max(bno) from board
	</select>
	
	<update id="update" parameterType="bvo">
		update board set
		title = #{title},
		sub_title = #{subTitle}, 
		writer = #{writer}, 
		topic = #{topic},
		state = #{state}, 
		description = #{description}, 
		price = #{price}, 
		keyword1 = #{keyword1}, 
		keyword2 = #{keyword2}, 
		keyword3 = #{keyword3}, 
		end_date = #{endDate}, 
		board_img = #{boardImg}
		where bno = #{bno}
	</update>
	
	<update id="updateFinal" parameterType="dvo">
		update board set
		final_price = final_price + #{donation}
		where bno = #{bno}
	</update>
	
	<update id="cheer" parameterType="bvo">
		update board set
		cheer = #{cheer} + 1
		where bno = #{bno}
	</update>
	
	<delete id="delete" parameterType="long">
		delete from board where bno = #{bno}
	</delete>
</mapper>