<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myweb.www.repository.DonationDAO">
	<insert id="insert" parameterType="dvo">
		insert into donation
		(mno, bno, donation, comment, dona_name)
		values
		(#{mno}, #{bno}, #{donation}, #{comment}, #{donaName})
	</insert>
	
	<select id="selectList" resultType="dvo">
		select a.dno, b.mno, b.bno, donation, comment, donation_at, dona_name, m.user_name
		from (
			select dno from donation
			where bno = #{bno}
			order by dno desc
			limit #{pgvo.pageStart}, #{pgvo.qty}
		) a left join donation b
		on a.dno = b.dno
		left join member m
		on b.mno = m.mno
	</select>
	
		<select id="selectMyList" resultType="dvo" parameterType="pgvo">
	 select a.dno, a.mno, a.bno, donation, comment, donation_at, b.title, b.board_img
	 from donation a
	 left join board b
	 on a.bno = b.bno
	 where a.mno = #{mno}
	</select>
	
	<select id="selectTotalCount" resultType="int">
		select count(dno) from donation where bno = #{bno}
	</select>
	
	<select id="selectMyTotalCount" resultType="int" parameterType="pgvo">
		select count(dno) from donation where mno = #{mno}
	</select>
	
	<select id="selectBno" resultType="long">
		select bno from donation where dno = #{dno}
	</select>
</mapper>